@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 7px; 
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #004d40;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
  background: #5c8964;
}

*{
    font-family: 'Overpass', sans-serif;
}